:root {
    --primary-color: #FFFFFF;
    --secondary-color:#31546D;
    --tertiary-color: #317189;
    --quaternary-color:#818181;

    --new-lot-background: #8A93E6;

    --mixed-section-primary: #8A93E5;
    --mix-section-secondary:#D7DBFF;

    --shop-button-color:#75CCEB;
    --shop-button-secondary:#6FB4FF;
    --filter-gray-golor:#9AB0C0;

    --gray6-color: #F2F2F2;
    --gray2-color: #4F4F4F;

    --top-price-color:#41A0B7;
    --sell-price-color:#E35B3E;

    --quantity-image-background:#FF2B77;

    --price-color:#317189;
    --hover-button-color: yellow;
    
}